h2 {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 150px;
  align-items: center;
  justify-content: center;
}

.addButton {
  font-size: 18px;
  height: 40px;
  width: 400px;
}
