:root {
  --primary: #5d62b5;
  --white: #ffffff;
}

.btn {
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

/* Buttun Colors and Styles */

.btn--default--color {
  background-color: var(--primary);
  color: var(--white);
}

/* Button Sizes */
.btn--small {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 15px 30px;
  font-size: 20px;
}
