.holder {
  width: 100%;
  max-width: 485px;
  margin: auto;
  background-color: #dadada;
  border-radius: 8px;
  padding: 4rem;
  margin-top: 50px;
}

.edit-user-tittle {
  float: left;
}

.edit-user-container {
  width: 100%;
  max-width: 485px;
  margin: auto;
  background-color: #dadada;
  border-radius: 8px;
  padding: 0px 4rem 4rem 4rem;
  margin-top: 50px;
}

.form-edit-user {
  background-color: #dadada;
  padding: 30px;
  border-radius: 20px;
}
