.edit-item-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  display: inline;
  margin-right: auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-form {
  display: inline-flex;
  width: 100%;
}

.pos-btn {
  margin-top: 10px;
}

.form-edit-item {
  background-color: #dadada;
  padding: 30px;
  border-radius: 20px;
  padding: 0px;
}

.edit-item-tittle {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  background-color: #dadada;
  justify-content: left;
  border-radius: 20px;
}
